@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,400;0,700;1,400');

/* DEFAULT COMPONENT */
* {
    margin: 0;
    font-family: 'Barlow', sans-serif;
}

/* NAVIGATION COMPONENT */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #83C9F4;
    padding-top: 10px;
    padding-bottom: 10px;

}
.nav-logo img {
    width: 64px;
    height: 64px;
}
.nav-logo {
    display: flex;
    align-items: center;
}
.nav-logo h1 {
    font-size: 20px;
    color: #000000;
}
.navlink {
    color:rgb(143, 143, 143);
    text-decoration: none;
    padding: 5px;
}
.nav-links {
    padding-right: 10px;
}
/* FOOTER section */
.footer {
    display:flex;
    flex-direction: row-reverse;
    padding: 20px;
    background-color: rgb(197, 243, 228);
}
.footer img{
    width: 20px;
    padding-right: 5px;
}

/* -HOME PAGE- */

/* HERO section */
.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 30px;
    background-color: #D9F0FF;
}
.hero img {
    width: 200px;
    border-radius: 10px;
}
.hero-info h1 {
    padding: 10px;
    text-align: center;
    padding-bottom: 20px;
}
.hero-info p {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.hero-info {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #A3D5FF;
    border-radius: 10px;
}

/* INFO section */
.info {
    padding: 10px;
    padding-bottom: 30px;
    background-color: #D9F0FF;
    display: flex;
    align-items: center;
}
.hero-info2 {
    background-color: #A3D5FF;
    border-radius: 10px;
}
.hero-info2 h1 {
    padding: 10px;
    text-align: center;
    padding-bottom: 20px;
}
.hero-info2 p {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* ABOUT PAGE */
