@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,400;0,700;1,400');

/* DEFAULT COMPONENT */
* {
    margin: 0;
    font-family: 'Barlow', sans-serif;
}

/* LOGO ANIMATION */
@keyframes shake {
    from {
        margin-left: -50%;
        transform: rotate(40deg);
    }
    to {
        margin-left: -10%;
        transform: rotate(-20deg);
        transform:scale(120%);
    }
}

/* NAVIGATION COMPONENT */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #83C9F4;
    padding-top: 20px;
    padding-bottom: 10px;
}
.nav-logo a img {
    animation-name: shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.nav-links a:hover {
    text-decoration: underline;
    color: #0066ff;
    font-weight: 600;
    position: relative;
    font-style: italic;
}
.nav-logo a {
    display:flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.nav-logo img {
    width: 64px;
    height: 64px;
}
.nav-logo {
    display: flex;
    align-items: center;
}
.navlink {
    color:rgb(70, 69, 69);
    text-decoration: none;
    padding: 2px;
    display: flex;
    border-bottom: 1px solid black;
}
.nav-links {
    padding-right: 20px;
}
/* FOOTER section */
.topscroll {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    background-color:#D9F0FF;
}
.topscroll a {
    color: black;
    text-decoration: none;
}
.topscroll a:hover {
    text-decoration: underline;
    color: #0066ff;
    font-weight: 600;
    position: relative;
    font-style: italic;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    background-color: rgb(197, 243, 228);
}
.footer img {
    width: 35px;
    padding: 10px;
}
.additional-profiles {
    background-color: #D9F0FF;
}
.profiles-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profiles-info img {
    width: 40px;
    padding: 20px;
}

/* -HOME PAGE- */

/* HERO section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #D9F0FF;
    padding-top: 10px;
}
.hero img {
    width: 50vw;
    border-radius: 10px;
    padding: 1px;
    background: #000000;
}
.hero-image h1 {
    text-align: center;
    padding-bottom: 10px;
}
.hero-image h3 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: 400;
    padding-bottom: 20px;
}
.hero-info h1 {
    padding: 10px;
    text-align: center;
    padding-bottom: 20px;
}
.hero-info p {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.hero-info {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #A3D5FF;
    border-radius: 10px;
    width: 80vw;
    border-bottom: 2px solid rgb(0, 132, 255);

}
/* HERO INFO section */
.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 30px;
    background-color: #D9F0FF;
}

 /* ADDITIONAL PROFILES SECTION */

/* CONTACT PAGE */
.contact-image img {
    width: 300px;
    border-radius: 50px;
}
/* Form section */
input[type=text], select {
    width: 100%;
    padding: 8px 5px;
    display: inline-block;
    border: 1px solid #3082fc;
    border-radius: 4px;
  }
  input[type=submit] {
    width: 100%;
    background-color: #1b5ff3e5;
    padding: 10px;
    margin: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #3082fc;
  }
  
  form {
    border-radius: 5px;
    padding-right: 10px;
  }
  textarea {
    width: 100%;
    padding: 8px 5px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #3082fc;
    border-radius: 4px;
  }

/* My contact details section */
.my-contact {
    background-color: #D9F0FF;
    display:flex;
    justify-content: center;
    padding-top: 20px;
}
.my-contact h2 {
    padding: 20px;
}
.my-contact p {
    display: flex;
    justify-content: center;
}

/* ABOUT PAGE */

.about-image img {
    border-radius: 50px;
    width: 280px;
}

/* BLOG PAGE */
.blog-image img {
    border-radius: 50px;
    width: 135px;
}


/* DESKTOP DESIGN */
@media screen and (min-width: 800px) {
    .navlink {
        display: inline;
        border-bottom: 0
    }
    .hero {
        justify-content: center;
        flex-direction: row;
        padding-top: 100px;
        padding-left: 0px;
        padding-right: 0px;
        gap: 50px;
    }
    .hero-image img{
        width: 18vw;
    }
    .hero-info {
        width: 25em;
    }
    .blog-image img {
        width: 300px;
    }
    .about-image {
        width: 18rem;
    }
    .form {
        max-width: 400px;
    }
    .additional-profiles {
        padding-top: 150px;
    }
    .topscroll {
        padding-top: 200px;
    }
    .my-contact {
        padding-top: 50px;
    }
}

/* TABLET design*/
@media screen and (min-width: 500px) {
    .navlink {
        display: inline;
        border-bottom: 0
    }
}
