@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,400;0,700;1,400');

/* DEFAULT COMPONENT */
* {
    margin: 0;
    font-family: 'Barlow', sans-serif;
}

body {
    background-color: #D9F0FF;
}

/* LOGO ANIMATION */
@keyframes shake {
    from {
        margin-left: -50%;
        transform: rotate(40deg);
    }
    to {
        margin-left: -10%;
        transform: rotate(-20deg);
        transform:scale(120%);
    }
}

@keyframes grow {
    from {
        transform:scale(10%);
    }
    to {
        transform:scale(100%);
    }
}

/* NAVIGATION COMPONENT */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #83C9F4;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navigation h4 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.nav-logo a img {
    animation-name: shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.nav-links a:hover {
    text-decoration: underline;
    color: #0066ff;
    font-weight: 600;
    position: relative;
    font-style: italic;
}
.nav-logo a {
    display:flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.nav-logo img {
    width: 64px;
    height: 64px;
}
.nav-logo {
    display: flex;
    align-items: center;
}
.navlink {
    color:rgb(70, 69, 69);
    text-decoration: none;
    padding: 2px;
    display: flex;
    border-bottom: 1px solid black;
}
.nav-links {
    padding-right: 20px;
}
/* FOOTER section */
.topscroll {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    padding-bottom: 5px;
    background-color:#D9F0FF;
}
.topscroll a {
    color: black;
    text-decoration: none;
}
.topscroll a:hover {
    text-decoration: underline;
    color: #0066ff;
    font-weight: 600;
    position: relative;
    font-style: italic;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    background-color: rgb(197, 243, 228);
}
.footer img {
    width: 35px;
    padding: 5px;
}
.additional-profiles {
    background-color: #D9F0FF;
}
.profiles-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profiles-info img {
    width: 40px;
    padding: 20px;
}

/* -HOME PAGE- */

/* HERO section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #D9F0FF;
    padding-top: 15px;
    gap: 10px;
}
.hero img {
    width: 60vw;
    border-radius: 10px;
    padding: 1px;
    background: #000000;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.hero-image h1 {
    text-align: center;
    padding-bottom: 10px;
}
.hero-image h3 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: 400;
    padding-bottom: 20px;
}
.hero-info h1 {
    padding: 10px;
    text-align: center;
    padding-bottom: 20px;
}
.hero-info p {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.hero-info {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #A3D5FF;
    border-radius: 10px;
    width: 80vw;
    border-bottom: 2px solid rgb(0, 132, 255);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}
/* HERO INFO section */
.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 30px;
    background-color: #D9F0FF;
}

 /* ADDITIONAL PROFILES SECTION */
 .additional-profiles {
    padding-top: 50px;
 }

/* CONTACT PAGE */
.contact-image img {
    width: 300px;
    border-radius: 50px;
}
/* Form section */
input {
    width: 100%;
    padding: 8px 5px;
    display: inline-block;
    border: 1px solid #3082fc;
    border-radius: 4px;
  }
  input[type=submit] {
    width: 103.5%;
    cursor: pointer;
    background-color: #255df8;
  }
  input[type=submit]:hover {
    background-color: #3082fc;
  }
  
  form {
    border-radius: 5px;
    padding-right: 10px;
  }
  .form p {
    padding-bottom: 5px;
  }
  textarea {
    width: 100%;
    padding: 8px 5px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #3082fc;
    border-radius: 4px;
  }

/* My contact details section */
.my-contact {
    background-color: #D9F0FF;
    display:flex;
    justify-content: center;
    padding-top: 20px;
}
.my-contact h3 {
    padding-bottom: 10px;
    text-align: center;
}
.my-contact h2 {
    padding-top: 20px;
    padding-bottom: 10px;
}
.my-contact p {
    display: flex;
    justify-content: center;
}

/* ABOUT PAGE */

.about-image img {
    border-radius: 50px;
    width: 280px;
}
.resume {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.resume img {
    width: 200px;
    animation-name: grow;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
.resume h6 {
    animation-name: grow;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

/* Blog Page*/
.Blog-Title {
    padding-top: 10px;
}


.Blog-Title h1{
    text-align: center;
    font-size: 50px;
}

.Blog-Left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Blog-Right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Blog-Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 15px;
    background-color:rgb(245, 245, 245);
    width: 80%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.Blog-Card h1 {
    font-size: 40px;
}

.Blog-Card h6 {
    padding-bottom: 10px;
}

.Blog-Card img {
    padding-bottom: 10px;
    width: 100%;
}

.Card-Right {
    width: 70%;
}

.Card-Right h1 {
    font-size: 20px;
}
.blog-links {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}
.blog-links p {
    padding: 10px;
    font-weight: 600;
}
.blog-links ul li a {
    text-decoration: none;
    color: rgb(70, 69, 69);
}
.blog-links ul li {
    padding: 3px;
}
.blog-links ul li a:hover {
    text-decoration: underline;
    color: #0066ff;
    font-weight: 600;
    position: relative;
    font-style: italic;
}
/* TABLET design*/
/* Navigation component */
@media screen and (min-width: 500px) {
    .navlink {
        display: inline;
        border-bottom: 0
    }

    /* Blog Page */
    .Blog-Card img {
        width: 80%;
    }

    .Blog-Card p {
        width: 80%;
    }

    .Card-Right {
        width: 70%;
    }

    .Card-Right h1 {
        font-size: 28px;
    }

    .Card-Right p {
        width: 70%
    }

    /* Hero section */
    .hero {
        padding-top: 15px;
    }
    .hero-info {
        width: 67%;
    }
}

/* DESKTOP DESIGN */
@media screen and (min-width: 800px) {
    /* NAVIGATION */
    .navlink {
        display: inline;
        border-bottom: 0
    }
    /* HERO */
    .hero {
        height: 70vh;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        background-color: #D9F0FF;
        gap: 20px;
    }
    .hero-image img{
        width: 16em;
    }
    .hero-info {
        width: 25em;
    }
    /* ABOUT */
    .about-image {
        width: 18rem;
    }
    /* Contact ME */
    .form {
        max-width: 400px;
    }
    .my-contact {
        padding-top: 0px;
    }
    /* ADDITIONAL PROFILES SECTION */
    .additional-profiles {
        padding-top: 50px;
    }
        /* BLOG */
        .Blog-Title h1 {
            font-size: 70px;
            padding-bottom: 30px;
        }
    
        .Blog-Section {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    
        .Card-Right {
            width: 40%;
        }

        .Blog-Left {
            padding-left: 80px;
        }
        .blog-links {
            padding: 0px;
            align-items: flex-start;
        }
}